In [1]:
import pandas as pd

In [2]:
#Importando dados de arquivo .csv utilizando o método read_csv()
#Parse_dates = converte string em date
base1 = pd.read_csv('customers_rating.csv', sep =';', parse_dates=['Date'], dayfirst=True)

In [3]:
base2 = pd.read_csv('movies.csv', sep =';')

In [4]:
# Uso do join para unir dois DF's
base_total=base1.join(base2.set_index('Movie_Id'), on = 'Movie_Id', how='outer')

In [5]:
base_total

          Cust_Id  Rating       Date  Movie_Id           titulo   ano
0         1488844     3.0 2005-09-06         1  Dinosaur Planet  2003
1          822109     5.0 2005-05-13         1  Dinosaur Planet  2003
2          885013     4.0 2005-10-19         1  Dinosaur Planet  2003
3           30878     4.0 2005-12-26         1  Dinosaur Planet  2003
4          823519     3.0 2004-05-03         1  Dinosaur Planet  2003
...           ...     ...        ...       ...              ...   ...
24053759  2591364     2.0 2005-02-16      4499       In My Skin  2002
24053760  1791000     2.0 2005-02-10      4499       In My Skin  2002
24053761   512536     5.0 2005-07-27      4499       In My Skin  2002
24053762   988963     3.0 2005-12-20      4499       In My Skin  2002
24053763  1704416     3.0 2004-06-02      4499       In My Skin  2002

[24053764 rows x 6 columns]

In [6]:
#Descrição dos tipos de dados
base_total.dtypes

Cust_Id              int64
Rating             float64
Date        datetime64[ns]
Movie_Id             int64
titulo              object
ano                  int64
dtype: object

In [7]:
#Verificando se existem dados missing
base_total.isna().sum()

Cust_Id     0
Rating      0
Date        0
Movie_Id    0
titulo      0
ano         0
dtype: int64

In [8]:
#Quantos filmes estão disponíveis no dataset? 4499
base_total['Movie_Id'].value_counts()

1905    193941
2152    162597
3860    160454
4432    156183
571     154832
         ...
4294        44
915         43
3656        42
4338        39
4362        36
Name: Movie_Id, Length: 4499, dtype: int64

In [9]:
#Qual é o nome dos 5 filmes com melhor média de avaliação?

base_total.groupby(['titulo']).Rating.mean().sort_values(ascending=False).head(5)

titulo
Lost: Season 1                                                                 4.670989
Ghost in the Shell: Stand Alone Complex: 2nd Gig                               4.586364
The Simpsons: Season 6                                                         4.581296
Inu-Yasha                                                                      4.554434
Lord of the Rings: The Return of the King: Extended Edition: Bonus Material    4.552000
Name: Rating, dtype: float64

In [10]:
#Quais os 5 anos com menos lançamentos de filmes?
Lancamento_ano = base_total.Date.dt.year
Lancamento_ano.value_counts().sort_values().head(5)

1999        426
2000     193255
2001     370691
2002     959548
2003    2397989
Name: Date, dtype: int64